*.DS_Store
.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.d
*.native
*.o
*.vio
*.vo
*.vos
*.vok
build/
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
Makefile.coq
Makefile.coq.conf
_build
docs
